.screen-header__icons > span:last-child{
  position: relative;
}


.main-screen_sub{
  border-top: var(--main-border);
}

.main-screen_sub_header{
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  font-size: 18px;
  opacity: 0.8;
}

.main-screen_sub_header span{
  opacity: 0.6;
}

.open-chat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.main-screen_sub_box{
  margin: 150px 0;
  text-align: center;
  font-size: 25px;
}

.open-chat-column{
  display: flex;
  flex-direction: column;
}

.open-post_title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post_hastage{
  text-transform: uppercase;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.open-chat_member{
  display: flex;
  align-items: center;
}
.open-chat_member img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 12px;
}

.open-chat_member .divider{
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.open-chat_icon{
  position: relative;

}

.open-chat_icon img{
  width: 155px;
  height: 155px;
  object-fit: cover;
  border-radius: 10px;
}


.open-chat_member span{
  margin-left: 10px;
}

.open-chat_member-status{
  color: #ff80ce;
  font-weight: 600;
}

.open-chat_heart{
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 10px;
  left: 70px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.open-chat_heart span{
  margin-left: 3px;
  font-weight: 600;
}

.open-chat:last-child{
  border-top: var(--main-border);
}
