#friends-header_display{
  background-color: #F9F9FA;
  text-align: center;
  font-size: 25px;
  padding: var(--vertical-space);
  display: block;
}

#friends-header_display i{
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen{
  padding: var(--horizontal-space);
}

.fa-info-circle::after{
  content: "Friends' Names Display ";
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen-channel_header{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
