.settings-list:last-child {
  border-top: 1px solid black;
}

.settings-set {
  padding: 36px 0;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.settings-set-column:last-child {
  opacity: 0.7;
}

.settings-set:not(.settings-set:last-child) {
  padding: 36px 0;
  border-bottom: var(--main-border);
}

.settings-set i {
  padding-right: 40px;
  font-size: 25px;
}

.settings-set .badge {
  position: absolute;
  left: 142px;
  bottom: 35px;
}

.settings-set_etc {
  display: flex;
  justify-content: space-between;
}
