.nav{
 background-color: #F9F9FA;
 padding:30px 70px;
 border-top: 1px solid rgba(0, 0, 0, 0.1);
 width: 100%;
 position: fixed;
 bottom: 0;
 box-sizing: border-box;
}

.nav__ul{
  display: flex;
  justify-content: space-between;
}

.nav__link{
  position: relative;
  color: #2e363e;
}

.nav__notification{
  background-color: #ff6229;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.nav__dot{
  position: absolute;
  left: 32px;
  bottom: 28px;
}
