.nav{
 background-color: #F9F9FA;
 padding:30px 70px;
 border-top: var(--main-border);
 width: 100%;
 position: fixed;
 bottom: 0;
 box-sizing: border-box;
}

.nav__ul{
  display: flex;
  justify-content: space-between;
}

.nav__link{
  position: relative;
  color: #2e363e;
}

.nav__notification{
  position: absolute;
  left: 15px;
  bottom: 15px;
}
